{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Titre par défaut{% endblock %}</title>
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/bootstraps/css/bootstrap.min.css')) }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header>
        <nav class="container-fluid d-flex">
            <a href="#" class="pt-2"> 
                <img src="/uploads/equipes/dpe.png" width="50px" height="50px"/>
            </a>
            <div class="mx-4 pt-2 ms-auto">
                <ul class="nav nav-tabs"> 
                    <a class="nav-item nav-link" aria-current="page" href="{{ path('app_etablishment') }}">Etablissement</a>
                    <a class="nav-item nav-link" href="{{ path('app_student') }}">Elève</a>
                    <a class="nav-item nav-link" href="{{ path('app_personal') }}">Personnels</a>
                    <a class="nav-item nav-link" href="{{ path('app_salle_classe') }}">Salle de Classe</a>
                </ul>        
            </div>
        </nav>
        <hr>
    </header>

    <main class="">
        {% block body %}{% endblock %}
    </main>

    <footer>
        {# Contenu du pied de page #}
    </footer>

    <script src="{{ absolute_url(asset('assets/bootstraps/js/bootstrap.bundle.min.js')) }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
